#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.colour0 {
  color: rgb(85, 85, 255);
}

.colour1 {
  color: greenyellow;
}

.colour2 {
  color: white;
}

.colour3 {
  color: rgb(170, 92, 206);
}

.regionList {
  list-style-type: none;
  display: inline-block;
  margin: 1rem;
}

.error {
  color: rgb(255, 121, 121);
}